@charset "utf-8";

.modal-footer {
    text-align: left !important;
    padding: 0 !important;
}
#new_prefs_dialog .dialog_tab_pane {
    width: 100% !important;
    padding: 1rem 1rem 1rem 1rem !important;
}
#new_prefs_dialog {
    width: 875px !important;
}
.modal label.theme_label {
    width: 100px;
    height: 125px;
}
input#sidebar_theme_custom {
  width: 100% !important;
}
#special_formatting_text {
  font-size: 0.8em !important;
  opacity: 1 !important;
}
#team_menu,#user_menu {
    text-decoration: none;
}
#col_channels {
    height: 100vh !important;
}
#col_messages *, #team_menu, #user_menu {
    -moz-transition: color 200ms, background-color 200ms, border 200ms !important;
    -o-transition: color 200ms, background-color 200ms, border 200ms !important;
    -webkit-transition: color 200ms, background-color 200ms, border 200ms !important;
    transition: color 200ms, background-color 200ms, border 200ms !important
}